<!-- List Page that displays the list and its cards -->
<!-- Card details include image, name, set name, rarity, card text, and card number -->
<!-- Also includes a delete utton for each card-->
<!-- The List itself can also be deleted here -->
<div class="middleBox">

    <div class="listViewBox">
    <% if @list %>
        <h1>Your List: <b><%= @list.name %></b></h1>

        <% if @list.cards_in_list.present? %>
            <div class="tableViewBox">
                    <table class="tableView">
                        <% @list.cards_in_list.each do |c| %>
                            <tr>
                                <td>
                                    <%= image_tag c.card.image_url, alt: c.card.name, class: "cardViewImage" %>
                                </td>
                                <th>
                                    <p><%= c.card.name %></p>
                                </th>
                                <td>
                                    <%= c.card.set_name %>
                                </td>
                                <td>
                                    <%= c.card.rarity %>
                                </td>
                                <td>
                                    <% if c.card.card_text.present? %>
                                        <b>Card Text: <%= c.card.card_text %> </b>
                                    <% else %>
                                        <b>Card Text: N/A</b>
                                    <% end %>
                                </td>
                                <td>
                                    <%= c.card.card_number %>
                                </td>
                                <td>
                                <!-- Delete button for each card in the list link -->
                                <!-- Shown as a button with confirmation prompt -->
                                    <%= link_to "Remove from List", card_path(
                                        card_id: c.card.id, list_id: @list.id
                                    ) , data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn_custom btn_delete_card" %>
                                </td>
                            </tr>
                        <% end %>
                    </table>
            </div>
        <% else %>
    <h3>No Cards in List.</h3>
            <p><i>Please add some cards to the list.</i></p>
        <% end %>
    <% end %>


    <!-- Delete List Button -->
    <div class="btnView">
        <%= link_to "Delete List", list_path(@list), data: {turbo_method: "delete", turbo_confirm: "Are you sure?"}, class: "btn_custom btn_delete" %>
    </div>    
    <div class="btnSpacer">
    <!-- Navigation Buttons -->              
        <%= link_to "Back to Lists Page", lists_path, class: "btn_custom btn_view_back_list" %>
        <%= link_to "Back to Home", root_path, class: "btn_custom btn_view_back_home" %>
    </div>
    
    </div>

</div>