<div class="middleBox">


<%= turbo_frame_tag "popup"%>
    <div class="searchOut">

    <div class="resultSearch">
        <%= render 'home/search' %>
    </div>

    <div>
        <h4 class="notices"><%= notice || "" %></h4>
    </div>

    <div class="cardResult">
        <h1> Search Results </h1>

        <% if @cards.present? %>
        
            <% @cards.each do |card| %>
                <div class="cardValues">
                    <img src="<%= card['imageCdnUrl'] %>" class="searchImg">
                    <h4><%= card['name']%></h4>
                    <p>From Set: <%= card['setName']%> </p>
                    <p><i>Market Price: </i><%= card['prices']["market"]%></p>
                    <% if current_user %>
                        <%= link_to "Add to List", popup_path(
                            card_name: card['name'],
                            card_set_name: card['setName'],
                            card_number: card['cardNumber'],
                            card_text: card['text'],
                            card_rarity: card['rarity'],
                            card_image_url: card['imageCdnUrl'],
                            card_market_price: card['prices']["market"]
                        ), data: {turbo_frame: "popup"}, class: "resultBtn"%>
                    <% end %>
                </div>
            <% end %>
        </div>
        <% end %>
    </div>
    <%= link_to "Return To Main", root_path, class: "btn_custom" %>
</div>
