<!-- The main application layout for the Pokemon App -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pokemon App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- Adds a Turbo Frame for popups -->
  <%= turbo_frame_tag "popup" %>
  <!-- Inserts head content -->
  <%= render "layouts/head" %>
  <!-- Main content yield -->
  <!-- Thhis is where the content of each view will be rendered -->
    <%= yield %>
  <!-- Inserts footer content -->
  <%= render "layouts/footer" %>
  </body>
</html>
